@charset "utf-8";

div.entire_form_product {
	width: 560px; /* unit_7 + 20px */
	height: 408px;
	margin-left: 0;
}
.head_product {
	background-color: #f2f2f2;
	border: 1px solid #e6e6e6;
	padding-left: 1.5rem;
}

.btn_toggle_product > span:first-child { color: #00a651;  }

.product_title{ font-weight: 900; margin-left: 10px; font-size: 16px;}
.product_count { color: #00a651; font-size: 14px;}
.entire_form_product .head_product > button.btn_del {
	border: 1px solid #e6e6e6;
	background-color: #fff;
	width: 90px;
	height: 36px;
	line-height: 0;
	margin: 5px 10px 5px 0px;
}

.product_info { 
	padding: 38px 20px 0px 20px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
 }
.product_name {}
.product_label { font-weight: 900; margin-bottom: 12px;}

.product_name, .product_barCode, 
.product_color, .product_size, .product_url {
	margin-bottom: 24px;
	margin-left: 0px;
}



/* side_bar */
.product_add_wrap {
	position: relative;
}

a[class*="btn_product_"] {
	width: 240px; /* unit_3 + 20px */
	margin-right: 0;
}
.product_add_caution {
	margin-top: 12px;
}
.btn_product_register {
	margin-top: 265px;
}
