@charset "utf-8";

div.entire_form_product {
	width: 560px; /* unit_7 + 20px */
	height: 408px;
	margin-left: 0;
}
.head_product {
	background-color: #f2f2f2;
	border: 1px solid #e6e6e6;
	padding-left: 1.5rem;
}
.toggle_wrap {
	padding: 10px 0 10px 0;
	float: left;
}
.toggle_wrap .btn_toggle_product {
	color: #00a651; 
	/*cursor: pointer; */
	height: 0;
	line-height: 0;
	font-size: 20px;
}
.product_title{ font-weight: 900; margin-left: 25px; float: left;}
.product_count { color: #00a651; font-size: 0.9rem; float: left; }
.entire_form_product .head_product > button.btn_del {
	border: 1px solid #e6e6e6;
	background-color: #fff;
	width: 90px;
	height: 36px;
	line-height: 0;
	margin-top: 5px;
	margin-right: 10px;
}

.product_info { 
	padding: 38px 20px 0px 20px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
 }
.product_name {}
.product_label { font-weight: 900; margin-bottom: 12px;}

.product_name, .product_barCode, 
.product_color, .product_size, .product_url {
	margin-bottom: 24px;
	margin-left: 0px;
}

/* side_bar */
/*a.btn_product_add, a.btn_product_register*/
a[class*="btn_product_"] {
	width: 240px; /* unit_3 + 20px */
	margin-right: 0;
}
.product_add_caution {
	margin-top: 12px;
}
.btn_product_register {
	margin-top: 216px;
}



.ml_1 { margin-left: 10px; }
.ml_2 { margin-left: 20px; }
.ml_3 { margin-left: 30px; }
.ml_4 { margin-left: 40px; }
.mr_1 { margin-right: 10px; }
.mr_2 { margin-right: 20px; }
.mr_3 { margin-right: 30px; }
.mr_4 { margin-right: 40px; }