
/* ë²„íŠ¼ ê¸°ë³¸ ëª¨ë“ˆ */
a[class*="btn-"] {
  display: block;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 2px;
  border:1px solid #fff;
  font-size: 14px;
}

/* ì£¼ìš” ë²„íŠ¼ */
a.btn-primary  {background: #00a651; border-color:#009b4c; color: #fff;}
/* ê¸°ë³¸ ë²„íŠ¼ */
a.btn-default  {background: #f6f9f3; border-color:#dedede; color: #232323;}
/* ê¹¨ë—í•œ ë²„íŠ¼ */
a.btn-plain    {background: #fff;    border-color:#dedede; color: #232323;}

/* ê° ë²„íŠ¼ì˜ ìƒíƒœ ë””ìžì¸ ëª¨ë“ˆ */
a.btn-primary:hover  {background: #009b4c;}
a.btn-default:hover  {background: #f2f6ef;}
a.btn-plain:hover    {background: #f9f9f9;}

a.btn-primary:active  {background: #008240;}
a.btn-default:active  {background: #e4e9e1;}
a.btn-plain:active    {background: #f3f3f3;}

/* ë²„íŠ¼ì˜ ì‚¬ì´ì¦ˆ ëª¨ë“ˆ */
/* large ëª¨ë“ˆì€ ë†’ì´ê°€ 2ë°°ê°€ ë©ë‹ˆë‹¤.*/
[class*="btn-"].btn-large {
  height: 72px;
  line-height: 72px;
}

/* ë²„íŠ¼ ìœ„ì¹˜ ê³ ì • */
/* ê·¸ë¦¬ë“œ ì‹œìŠ¤í…œìœ¼ë¡œ ë²„íŠ¼ ìœ„ì¹˜ë¥¼ ë‹¤ë£¨ê¸° ì–´ë ¤ìš¸ ë•Œ ì•„ëž˜ì˜ í´ëž˜ìŠ¤ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. */
.btn-left {
  float: left;
}
.btn-center {
  margin-right: auto;
  margin-left: auto;
}
.btn-right {
  float: right !important;
}
