
.popUp_Estimate {
	border: 1px solid #dedede;
	margin-top: 24px;
	border-radius: 10px;
	background: #fff;
}

.popUp_Style {
	padding-top: 12px;
	padding-left: 60px;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #dedede;
}

.popUp_Text-box {
		padding-left: 60px;
		padding-right: 60px;
		padding-top: 40px;
}

.popUp_Text {
	clear: both;
	padding-bottom: 24px;
}

.popUp_Text_last:last-child {
	padding-bottom: 0;
}


.btn_primary {
	margin-top: 48px;
	margin-bottom: 48px;
}

.estimate_Headding {
	font-size: 16px;
	float: left;
	height: 48px;
	line-height: 48px;
}

.estimate_Subtext {
	font-size: 16px; 
	float: right;
	line-height: 48px;
	height: 48px;
}

.estimate_price {
	font-size: 40px;
	height: 48px;
	line-height: 48px;
	float: right;
}

.main {
	min-height: 712px;
}