@charset "utf-8";

.overlay_grid {
	position: relative;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.overlay_grid::before {
	content: "";
	position: absolute;
	z-index: 1000;
	width: 960px;
	height:  200vh;
	background:  linear-gradient(transparent 95%, hsla(0, 0%, 0%, 0.2) 95%),
				linear-gradient(to right, transparent 10px, hsla(92, 81%, 64%, 0.2) 10px, hsla(92, 81%, 64%, 0.2) 70px,transparent 70px);
	background-size:  1px 24px, 80px 1px;
}

.grid,
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.grid [class*="push-"], .grid [class*="pull-"] {
	position: relative;
}
[class*="unit-"] {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

/* 12 column */
.unit-1 {width: 60px;}
.unit-2 {width: 140px;}
.unit-3 {width: 220px;}
.unit-4 {width: 300px;}
.unit-5 {width: 380px;}
.unit-6 {width: 460px;}
.unit-7 {width: 540px;}
.unit-8 {width: 620px;}
.unit-9 {width: 700px;}
.unit-10 {width: 780px;}
.unit-11 {width: 860px;}
.unit-12 {width: 940px;}

/* push pull */
.push-1 {left: 80px;}
.push-2 {left: 160px;}
.push-3 {left: 240px;}
.push-4 {left: 320px;}
.push-5 {left: 400px;}
.push-6 {left: 480px;}
.push-7 {left: 560px;}
.push-8 {left: 640px;}
.push-9 {left: 720px;}
.push-10 {left: 800px;}
.push-11 {left: 880px;}

.pull-1 {right: 80px;}
.pull-2 {right: 160px;}
.pull-3 {right: 240px;}
.pull-4 {right: 320px;}
.pull-5 {right: 400px;}
.pull-6 {right: 480px;}
.pull-7 {right: 560px;}
.pull-8 {right: 640px;}
.pull-9 {right: 720px;}
.pull-10 {right: 800px;}
.pull-11 {right: 880px;}

/* prefix suffix */
.prefix_1 {padding-left: 80px;}
.prefix_2 {padding-left: 160px;}
.prefix_3 {padding-left: 240px;}
.prefix_4 {padding-left: 320px;}
.prefix_5 {padding-left: 400px;}
.prefix_6 {padding-left: 480px;}
.prefix_7 {padding-left: 560px;}
.prefix_8 {padding-left: 640px;}
.prefix_9 {padding-left: 720px;}
.prefix_10 {padding-left: 800px;}
.prefix_11 {padding-left: 880px;}

.suffix_1 {padding-right: 90px;}
.suffix_2 {padding-right: 170px;}
.suffix_3 {padding-right: 250px;}
.suffix_4 {padding-right: 330px;}
.suffix_5 {padding-right: 410px;}
.suffix_6 {padding-right: 490px;}
.suffix_7 {padding-right: 570px;}
.suffix_8 {padding-right: 650px;}
.suffix_9 {padding-right: 730px;}
.suffix_10 {padding-right: 810px;}
.suffix_11 {padding-right: 890px;}