@charset "utf-8";
.overlay_grid{
	width: 960px;
	margin-right: auto;
	margin-left:  auto;
}
.overlay_grid::before{
	content: '';
	position: absolute;
	z-index:  1000;
	width: 960px;
	height:  200vh;
	background:  linear-gradient(transparent 95%, hsla(0, 0%, 0%, 0.5) 95%),
				linear-gradient(to right, transparent 10px, hsla(92, 81%, 64%, 0.5) 10px, hsla(92, 81%, 64%, 0.5) 70px,transparent 70px);
	background-size:  1px 24px, 80px 1px;
}

.grid::after,
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

​
/* 12 column */
.unit_1{width: 60px;}
.unit_2{width: 140px;}
.unit_3{width: 220px;}
.unit_4{width: 300px;}
.unit_5{width: 380px;}
.unit_6{width: 460px;}
.unit_7{width: 540px;}
.unit_8{width: 620px;}
.unit_9{width: 700px;}
.unit_10{width: 780px;}
.unit_11{width: 860px;}
​
​
/* push pull */
[class*="push_"], [class*="pull_"]{
	position: relative;
}
.push_1{left: 80px;}
.push_2{left: 160px;}
.push_3{left: 240px;}
.push_4{left: 320px;}
.push_5{left: 400px;}
.push_6{left: 480px;}
.push_7{left: 560px;}
.push_8{left: 640px;}
.push_9{left: 720px;}
.push_10{left: 800px;}
.push_11{left: 880px;}
​
.pull_1{right: 80px;}
.pull_2{right: 160px;}
.pull_3{right: 240px;}
.pull_4{right: 320px;}
.pull_5{right: 400px;}
.pull_6{right: 480px;}
.pull_7{right: 560px;}
.pull_8{right: 640px;}
.pull_9{right: 720px;}
.pull_10{right: 800px;}
.pull_11{right: 880px;}
​
​
/* prefix suffix */
.prefix_1{margin-left: 90px;}
.prefix_2{margin-left: 170px;}
.prefix_3{margin-left: 250px;}
.prefix_4{margin-left: 330px;}
.prefix_5{margin-left: 410px;}
.prefix_6{margin-left: 490px;}
.prefix_7{margin-left: 570px;}
.prefix_8{margin-left: 650px;}
.prefix_9{margin-left: 730px;}
.prefix_10{margin-left: 810px;}
.prefix_11{margin-left: 890px;}
​
.suffix_1{margin-right: 90px;}
.suffix_2{margin-right: 170px;}
.suffix_3{margin-right: 250px;}
.suffix_4{margin-right: 330px;}
.suffix_5{margin-right: 410px;}
.suffix_6{margin-right: 490px;}
.suffix_7{margin-right: 570px;}
.suffix_8{margin-right: 650px;}
.suffix_9{margin-right: 730px;}
.suffix_10{margin-right: 810px;}
.suffix_11{margin-right: 890px;}

[class*="unit_"] {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
<<<<<<< HEAD

/*[class*="unit_"] [class*="unit_"]:first-child{
	margin-left: 0px;
}
[class*="unit_"] [class*="unit_"]:last-child{
	margin-right: 0px;
}*/

/* 12 column */
.unit_1 {width: 60px;}
.unit_2 {width: 140px;}
.unit_3 {width: 220px;}
.unit_4 {width: 300px;}
.unit_5 {width: 380px;}
.unit_6 {width: 460px;}
.unit_7 {width: 540px;}
.unit_8 {width: 620px;}
.unit_9 {width: 700px;}
.unit_10 {width: 780px;}
.unit_11 {width: 860px;}
.unit_12 {width: 940px;}

/* push pull */
.push_1 {left: 80px;}
.push_2 {left: 160px;}
.push_3 {left: 240px;}
.push_4 {left: 320px;}
.push_5 {left: 400px;}
.push_6 {left: 480px;}
.push_7 {left: 560px;}
.push_8 {left: 640px;}
.push_9 {left: 720px;}
.push_10 {left: 800px;}
.push_11 {left: 880px;}

.pull_1 {right: 80px;}
.pull_2 {right: 160px;}
.pull_3 {right: 240px;}
.pull_4 {right: 320px;}
.pull_5 {right: 400px;}
.pull_6 {right: 480px;}
.pull_7 {right: 560px;}
.pull_8 {right: 640px;}
.pull_9 {right: 720px;}
.pull_10 {right: 800px;}
.pull_11 {right: 880px;}

/* prefix suffix */
.prefix_1 {padding-left: 80px;}
.prefix_2 {padding-left: 160px;}
.prefix_3 {padding-left: 240px;}
.prefix_4 {padding-left: 320px;}
.prefix_5 {padding-left: 400px;}
.prefix_6 {padding-left: 480px;}
.prefix_7 {padding-left: 560px;}
.prefix_8 {padding-left: 640px;}
.prefix_9 {padding-left: 720px;}
.prefix_10 {padding-left: 800px;}
.prefix_11 {padding-left: 880px;}

.suffix_1 {padding-right: 90px;}
.suffix_2 {padding-right: 170px;}
.suffix_3 {padding-right: 250px;}
.suffix_4 {padding-right: 330px;}
.suffix_5 {padding-right: 410px;}
.suffix_6 {padding-right: 490px;}
.suffix_7 {padding-right: 570px;}
.suffix_8 {padding-right: 650px;}
.suffix_9 {padding-right: 730px;}
.suffix_10 {padding-right: 810px;}
.suffix_11 {padding-right: 890px;}
=======
>>>>>>> 4dfe51cd6669ea1fa197761db122e113548c676c
