@charset "utf-8";

html, body {
  height: 100%;
  background: url("../images/index_background.png");
  background-size: auto 100%;
  background-position: center;
  background-attachment: fixed;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  min-height: 100%;
}
.container {
  width:960px;
  margin-left: auto;
  margin-right: auto;
}

.centered_contents {
  width: 960px;
  height: 640px;
  position: absolute;
  left:50%;
  top:50%;
  margin-left: -480px;
  margin-top: -320px;
  border-top: 1px solid transparent;
}


.selads_index {
  position: relative;
  color: #fff;
}

.selads_index .selads_nav {
  position: absolute;
  top:50%;
  right: 1px;
}

.selads_index .selads_nav div {
  width: 21px;
  height: 21px;
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid #595860;
  border-radius: 10px;
}

.selads_index .selads_nav div:hover,
.selads_index .selads_nav div:focus {
  background-color: #199a47;
  opacity: 0.7;
  border: none;
}

.selads_index .selads_about_container {
  width: 190px;
  height: auto;
}

.selads_index .selads_about::before {
  float: left;
  display: block;
  content: '';
  width: 21px;
  height: 21px;
  background: url("../images/index_question_circle.png");
}

.selads_index .selads_about {
  margin-left: 9px;
  line-height: 24px;
}

.selads_index .selads_about::after {
  display: block;
  content: '';
  width: 190px;
  height: 4px;
  margin-top: 8px;
  background-color: #00a651;
}

.selads_index .selads_about span {
  font-weight: 900;
}

.selads_index .selads_headcopy {
  color: #98989b;
}

.selads_index .selads_headcopy span {
  color: #fff;
  font-weight: 900;
}

.selads_index .input_default {
  width: 460px;
  height: 48px;
  border: 1px solid #b4b5b6;
  box-sizing: border-box;
  padding-left: 21px;
  background-color: #d2d1d1;
  font-size: 14px;
  color: #282422;
}

.selads_index address {
  color: #747474;
}

/* 하위 section 디자인 */
/* 하위 공통 모듈 */

/* 섹션 제목 */
.process_heading, .intro_heading {
  width: 325px;
  /* margin-top: 24px; */
  margin-left: auto;
  margin-right: auto;
}
.process_heading {
  color: #232323;
  padding-top: 48px;
}

/* 셀러즈 소개 섹션 */
.selads_intro {
  background: #00a651;
  background: linear-gradient(#00a651 46%, #f2f6ef 46%);
  text-align: center;
  color: #fff;
  height: 100%;
  position: relative;
}

.selads_intro [class*="_heading"]::after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}
.selads_intro .process_heading::after {
  background: #333;
}

/* 셀러즈 소개 단락 */
.selads_introDescription {
  margin-top: 24px;
  margin-bottom: 24px;
}

.selads_introDescription span {
  display: inline-block;
  background: #D1FFD7;
  color: #232323;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.15em;

}

/* 셀러즈 소개 트럭 아이콘 */
.intro_heading::before {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 37px;
  height: 20px;
  background: url(../images/icon-truck.png);
  background-size: cover;
}

/* 셀러즈 프로세스 */
.process_steps {
  text-align: center;
  margin-top:42px;
  margin-bottom: 72px;
}
.process_steps li {
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 60px 40px;
  border-radius: 80px;
  border:4px solid #fff;
  margin-right: 20px;
  background: #fff;
  color: #232323;
  transition: all 0.25s;
  top:0;
}
.process_steps li:hover {
  top: -10px;
}

.process_steps .step {
  width: 100%;
  position: absolute;
  display: inline-block;
  color: #999;
  font-size: 14px;
  text-align: center;
  font-weight: bolder;
  position: absolute;
  top: 36px;
  left: 0;
}

.process_steps li:last-child {
  margin-right: 0px;
}


.selads_endcopy {
  margin-bottom: 24px;
}

.selads_footer_section {
  position: relative;
  text-align: center;
  color: #Fff;
  height: 100%;
  background: linear-gradient(transparent, #fff);
}
.selads_footer_section .selads_shorthandLogo {
  margin-top: 24px;
}
.selads_footer_section .selads_endcopy {
  padding-top: 24px;
}

.selads_footer_section address {
  width: 100%;
  text-align: center;
  color: #232323;
  position: absolute;
  bottom: 0;

}
