@charset "utf-8";

/* 모달이 나타날 때 동적으로 생성될 dim-layer */
.is-modal::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
}
 
/* 모달 기본 모듈 */
.modal {
  box-sizing: border-box;
  width: 530px;
  min-height: 360px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  padding-top: 48px;
  padding-bottom: 48px;
}

/* 모달 폼 그룹 */
.modal.modal_form {
  background: #f2f2f2;
  border-top: 6px solid #72c270;
  border-bottom: 6px solid #72c270;
}

.modal .heading_group {
  margin-right: 60px;
  margin-left: 60px;
  position: relative;
}
.modal .heading_group::after {
  content: '';
  display: block;
  position: absolute;
  bottom:-24px;
  left: 0;
  background: #232323; 
  width: 100%;
  height: 1px;
}

.modal .form_label {
  padding-left: 60px;
  margin-left: 0;
}

.modal .heading_group {
  margin-bottom: 21px;
}

.modal label {
  display: block;
  line-height: 48px;
  font-weight: bolder;
}
.modal .input_default {
  margin-bottom: 24px;
  background: #fff;
}

.modal form {
  /* border-top: 1px solid #232323; */
  padding-top: 21px;
}

.modal a[class*="btn_"] {
  margin: 0;
}

.modal_footer {
  margin:24px 60px 0;
  border-top: 1px solid #232323;
  padding-top: 10px;
}

.find_notice::before {
  content: '';
  display: inline-block;
  position: relative;
  top:2px;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: url(../images/icon_notice.png);
  background-size: cover;
}

.order_result {
  text-align: center;
}
.order_customerNumber {
  display: block;
  font-weight: bolder;
  padding-top: 36px;
  padding-bottom: 36px;
}
.order_customerText {
  margin-bottom: 48px;
}
