
.required_info, .business_info {
  border-bottom: 1px solid #acacac;
  margin-bottom: 24px;
}
.heading_grounp, li {
  margin-bottom: 24px;
}
li li {
  margin-bottom: 0px;
}
.form_manager_email li {
  float: left;
}
.form_manager_email input {
  width: 200px;
}
.form_manager_email li input:last-child {
  margin-right: 5px;
}
.form_manager_email li input:last-child {
  margin-left: 5px;
}
.form_manager_email .dropdown {
  margin-left: 2px;
}
.form_manager_email .dropbtn {
  width: 200px;
}

.terms_service > * {
  padding-right: 20px;
  padding-left: 20px;
}
.terms_service {
  border: 1px solid #dedede;
}
.terms_service > h6 {
  height: 48px;
  line-height: 48px;
  color: #232323;
  font-weight: 400;
  background: #f9f9f9;
  border-bottom:1px solid #dedede;
}
.terms_box {
  height: 168px;
  overflow-y: scroll;
  padding-top: 8px;
  padding-bottom: 25px;
}
.table{
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}
.table th, .table td {
  width: 33.3333%;
}

.table tbody tr:hover {
  background: transparent;
}

.table tr:hover td::after {
  display: none;
}

.terms_privacy {
  margin-top: 24px;
}

.terms_privacy_contents td:first-child {
  width: 60px;
}

.agree {
  text-align: center;
}

.join {
  position: relative;
  height: 48px;
}

.btn_join {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}


input:disabled {
  border: none;
  padding-left: 0;
}

input[type="submit"] {
  padding:0;
  margin-top: 24px;
  margin-bottom: 24px;
}

.info_label {
  height: 42px;
  line-height: 42px;
}

.required_info legend,
.business_info legend {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: bolder;
}

.required_info fieldset,
.business_info fieldset {
  border:none;
}
