@charset "utf-8";

/* Table Module */
.table {
  width: 100%;
  border-spacing: 0;
}
.table th, td {
  line-height: 3rem;
  text-align: center;
}
.table td {
  position: relative;
  color: #232323;
  line-height: 1.5;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.table thead th {
  background: #f9f9f9;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.table tbody td {
  border-bottom: 1px solid #dedede;
}

/* Table Interaction */
.table tbody tr:hover {
  background: #f9f9f9;
}
.table tr:hover td::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);
  height: 1rem;
  width: 1px;
  background: #dedede;
}
.table tr:hover td:last-child::after {
  display: none;
}


/*.table-grid */
/* 테이블 그리드를 사용하여 테이블의 너비를 편하게 활용할 수 있음 */
.table-grid .col-1-10 {
  width:10%;
}
.table-grid .col-2-10 {
  width:20%;
}
.table-grid .col-3-10 {
  width:30%;
}
.table-grid .col-4-10 {
  width:40%;
}
.table-grid .col-5-10 {
  width:50%;
}
.table-grid .col-6-10 {
  width:60%;
}
.table-grid .col-7-10 {
  width:70%;
}
.table-grid .col-8-10 {
  width:80%;
}
.table-grid .col-9-10 {
  width:90%;
}
.table-grid .col-10-10 {
  width:100%;
}


