  @charset "utf-8";

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Spoqa Han Sans", sans-serif;
  color:#232323;
}

/* Type Scale 1.25 */
h1 {
  /*font-size: 3.0516rem;*/ /* 50px */
}
h2 {
  font-size: 2.4413rem; /* 40px */
}
h3 {
  font-size: 1.9531rem; /* 31.25px*/
}
h4 {
  font-size: 1.5625rem; /* 25px */
}
h5 {
  font-size: 1.25rem;   /* 20px */
}
h6 {
  font-size: 1rem;      /* 16px */
}

h2 {
  line-height: 4.5rem;
  font-weight: lighter;
}
h3, h4 {
  font-weight: normal;
}
h3, h4, h5 {
  line-height: 3rem;
}
h5, h6 {
  font-weight: bolder;
}
h6 {
  line-height: 1.5rem;
}

/* 서브 페이지 헤더 그룹 모듈 */
.heading_group {
  padding-left: 20px;
  border-left: 4px solid #232323;
  position: relative;
}
/* 헤더그룹 제목 */
.heading_group .heading {
  line-height: 1;
  margin-bottom: 0.3125rem;
}
/* 헤더그룹 설명 */
.heading_group .heading_description {
  color:#9b9c9b;
}
/* 네비게이션 */
.heading_group .heading_pageNavigation {
  position: absolute;
  top: 36px; /* 24+ 12 px baseline 간격 */
  right: 0;
}
.heading_group .heading_pageNavigation li {
  float: left;
  position: relative;
  margin-right: 15px;
  font-size: 14px;
  color: #676867;
}
/* 네비게이션 불릿(홈) */
.heading_group .heading_pageNavigation li::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-top: 1px solid #232323;
  border-right: 1px solid #232323;
  transform: rotate(45deg);
  position: absolute;
  right: -10px;
  top:50%;
  margin-top: -2px;
}

/* 네비게이션 불릿(화살표) */
.heading_group .heading_pageNavigation li:first-child::before {
  content: '';
  display: block;
  background: url("../../Resources/ionicons/fonts/home.svg");
  -webkit-background-size: cover;
    background-size: cover;
  position: absolute;
  top:2px;
  left: -20px;
  width: 15px;
  height: 15px;
}
.heading_group .heading_pageNavigation li:last-child::after {
  display: none;
}
